// ╔══════════════════════════╦═════════════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
// ║ i18n                     ║ Base                                                                                    ║
// ╚══════════════════════════╩═════════════════════════════════════════════════════════════════════════════════════════╝

// Danish
html[lang="da"] {
  --jump-to: "Hop til";
}

// Deutsch
html[lang="de"] {
  --jump-to: "Gehe zu";
}

// English
html[lang="en-GB"],
html[lang="en-US"] {
  --jump-to: "Jump to";
}

// Spanish
html[lang="es-ES"] {
  --jump-to: "Saltar a";
}

// French
html[lang="fr"] {
  --jump-to: "Aller à";
}

// Croatian
html[lang="hr"] {
  --jump-to: "Uskoči ka";
}

// Italian
html[lang="it"] {
  --jump-to: "Vai su";
}

// Lithuanian
html[lang="lt"] {
  --jump-to: "Pereiti į";
}

// Hungarian
html[lang="hu"] {
  --jump-to: "Ugrás a";
}

// Dutch
html[lang="nl"] {
  --jump-to: "Spring naar";
}

// Norwegian
html[lang="no"] {
  --jump-to: "Hop til";
}

// Polish
html[lang="en"] {
  --jump-to: "Przejdź do";
}

// Brazilian
html[lang="pt-BR"] {
  --jump-to: "Saltar para";
}

// Romania
html[lang="ro"] {
  --jump-to: "Salt la";
}

// Finnish
html[lang="fi"] {
  --jump-to: "Siirry";
}

// Swedish
html[lang="sv-SE"] {
  --jump-to: "Hoppa till";
}

// Vietnamese
html[lang="vi"] {
  --jump-to: "Chuyển đến";
}

// Turkish
html[lang="tr"] {
  --jump-to: "Atlamak ye";
}

// Czech
html[lang="cs"] {
  --jump-to: "Skočit k";
}

// Greek
html[lang="el"] {
  --jump-to: "μεταβείτε στο";
}

// Bulgarian
html[lang="bg"] {
  --jump-to: "скок към";
}

// Russian
html[lang="ru"] {
  --jump-to: "перейти к";
}

// Ukrainian
html[lang="uk"] {
  --jump-to: "Ugrás a";
}

// Hindi
html[lang="hi"] {
  --jump-to: "पर कूदना";
}

// Thai
html[lang="th"] {
  --jump-to: "กระโดดไปที่";
}

// Chinese, China
html[lang="zh-CN"] {
  --jump-to: "跳转到";
}

// Japanese
html[lang="ja"] {
  --jump-to: "ジャンプする";
}

// Chinese, Taiwan
html[lang="zh-TW"] {
  --jump-to: "跳转到";
}

// Korean
html[lang="ko"] {
  --jump-to: "이동";
}
